@import '../../common-css/header.css';

.home-container {
    width: 200px;
    height: 100px;
    background-color: #d8cece;
    padding: 10px 15px;
    border: 1px solid;
}

.home-container .center {
    padding-top: 10px;
}






