.index-container .error {
    width: 200px;
    padding: 10px;
    background: #ab4141;
    border: 1px solid;
    margin-top: 10px;
    padding: 10px 15px;
    display: none;
}

.index-container .error span{
    color: white;
}

.index-container h1 {
    background: black;
    padding: 20px;
    color: wheat;
}







